body{
    background-color: #efefef;
}

.main{
    margin: 30px;
    background-color: white;
}

.btn-publish{
    float:right;
    margin-bottom: 15px;
}

.avartar{
    height: 68px;
    width: 68px;
}

.text-color-999{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile_list{
    margin-top:15px;
}