body{
    background-color: #efefef;
}

.main{
    margin: 30px;
    background-color: white;
}

.btn-publish{
    float:right;
    margin-bottom: 15px;
}

.avartar{
    height: 68px;
    width: 68px;
}

.text-color-999{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}


.profile_list{
    margin-top:15px;
}

.description_block{
    height: 400px;
    overflow: auto;
    padding: 20px;
}

.question_avatar{
    width: 32px;
    height: 32px;
}

.creator{
    padding-left: 10px;
}

.normal_border{
    border-style: solid;
    border-width: 1px;
    border-color: #f8f8f8;
}